@media screen and (max-width:767px) {
    .feedBackText {
        padding-top: 30px;
    }
}

@media screen and (max-width:767px) {
    .itemCodeText {
        margin-top: 15px;
    }
}

@media screen and (max-width:500px) {
    .hideArrowStyle {
        display: none;
    }
}

.productsDetailsStyle {
    font-size: 15px;
}

/* IMAGE STYLE CSS */
@media screen and (min-width:1200px) {
    .catalogImage {
        height: 455px;
    }
}

@media screen and (min-width:1200px) {
    .ReportCatalogImage {
        height: 435px;
    }
}