* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .RegisterLeftStyle {
        display: none;
    }
}

.RegisterLeftRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../Asset/Img/LoginBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Form_style {
    padding: 20px;
    width: 30%;
    background-color: #ffff;
    border-radius: 1px;
}

@media screen and (max-width:980px) {
    .Form_style {
        width: 50%;

    }
}

@media screen and (max-width:574px) {
    .Form_style {
        width: 60%;
    }
}

@media screen and (max-width:450px) {
    .Form_style {
        width: 90%;
    }
}