.GInput {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c1c4c5;
}

.GInput:hover {
  border-bottom: 1px solid #1899e4;
}

.SSelect {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c1c4c5;
  background: transparent;
}

.SSelect:hover {
  border-bottom: 1px solid #1899e4;
  cursor: pointer;
}

.CButton {
  padding: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border: none;
  background-color: #f5df12;
  color: #000000;
  border-radius: 3px;
  font-size: 14px;
  width: 100%;
  margin-top: 10px;
}

.CButton:hover {
  background-color: #f9e215;
}

.DropDownFormStyle {
  background: transparent;
  background-color: #f0f3f6;
  padding: 10px;
  display: flex;
}

.searchStyle {
  margin-top: 9px;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
}

.searchStyle:hover {
  background-color: #ffff;
}

@media screen and (max-width:767px) {
  .searchStyle {
    float: right;
  }
}

/* AlertStyle CSS */
.alertStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: transparent; */
  z-index: 1;
}

.switchStyle {
  cursor: pointer;
}